{
    "random_list": [
        "SiripalaBot is the best",
        "UKaveenR is awesome"
    ],
    "Ads": [
        [
            "GeekNirvana.org Nirvana For Geeks wriiten by @UKaveenR #lka 
blogger",
            6
        ]
    ]
}
